
@{
    ViewBag.Title = "Forgot password";

}

<!--Breadcrumb Area Start-->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h1 class="breadmome-name">Forgot password</h1>
                    <ul>
                        <li><a href=@Url.Action("Index","Home")>Home</a></li>
                        <li class="active">Forgot password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Area End-->
<!--Login Area Strat-->
<div class="login-area mt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form class="m-t" role="form" method="post">
                                <div class="group">
                                    <label for="user" class="label">Username</label>

                                    <input id="user" type="text" name="username" class="input" required="">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Your email address</label>

                                    <input id="pass" type="email" name="email" class=" input" required="">
                                </div>

                                <p style="color:red">@ViewBag.Message</p>
                                <p>Please enter your username and email address that is registered to your account, your new password will be sent to your email</p>
                                <div class="button-box">
                                
                                    <button type="submit" class="default-btn">Submit</button>
                                </div>
                            </form>
                            <div class="no-account">
                                <a href=@Url.Action("Register","Customers")>No account? Create one here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Login Area End-->
